name: Build Nightly Images (Reusable)

on:
  workflow_call:
    inputs:
      matrix-config:
        description: 'JSON string containing the matrix configuration'
        required: true
        type: string
      branch:
        description: 'Branch to build from'
        required: true
        type: string
      tag:
        description: 'the tag to be used for the built image'
        required: false
        type: string
      tested_repo:
        description: |
          The repository being tested (e.g., "konveyor/analyzer-lsp").
          Used to determine which repo should use the PR/branch ref vs base ref.
          If not provided, all repos use the branch ref.
        required: false
        type: string
    outputs:
      dependent-jobs:
        description: 'Dependent jobs to build next'
        value: ${{ jobs.build-images.outputs.dependent-jobs }}

jobs:
  build-images:
    name: Build Images ${{ matrix.image.image }}-${{ matrix.os.arch }}
    runs-on: ${{ matrix.os.runner }}
    strategy:
      fail-fast: false
      matrix: 
        image: ${{ fromJSON(inputs.matrix-config).image }}
        os: ${{ fromJSON(inputs.matrix-config).os }}
    steps:
      - name: Checkout repo
        id: checkout
        uses: actions/checkout@v5
        with:
          repository: ${{ matrix.image.repo }}
      
      - name: Setup golang
        uses: actions/setup-go@v6
        with:
          go-version: '1.25' 
      
      - name: Update go mod to the branch
        id: go_mod
        shell: bash
        if: matrix.image.go_mod_update != '' && matrix.image.go_mod_update[0] != null
        run: |
          # Change to the specified directory if provided, otherwise use current directory
          GO_MOD_DIR="${{ matrix.image.go_mod_directory || '.' }}"
          cd "$GO_MOD_DIR"
          echo "Running go mod commands in directory: $(pwd)"

          for mod_update in ${{ join(matrix.image.go_mod_update, ' ') }}
          do
            echo "updating go mod $mod_update"
            go get -u $mod_update
          done

          # Run go mod tidy to clean up
          go mod tidy

      - name: Get Tag
        id: get_tag
        shell: bash
        env:
          INPUT_TAG: ${{ inputs.tag }}
        run: |
          
          if [ -n "$INPUT_TAG" ]; then
            INPUT_TAG+="_${{ matrix.os.arch }}"
            echo "tag=$INPUT_TAG" >> $GITHUB_OUTPUT
          else
            date=$(date +'%Y.%m.%d')
            date+="_${{ matrix.os.arch }}"
            echo "tag=${{ inputs.branch }}_$date" >> $GITHUB_OUTPUT
          fi

      
      - name: build image
        id: build-image
        uses: konveyor/ci/build-image@main
        with:
          repo: ${{ matrix.image.repo }}
          ref: ${{ inputs.branch }}
          image_name: ${{ matrix.image.image }}
          image_tag: ${{ steps.get_tag.outputs.tag }}
          dockerfile_path: ${{ matrix.image.dockerfile_path }}
          build_context: ${{ matrix.image.context_path }}
          build_args: ${{ matrix.image.args }}
          checked_out: true
          base_image: ${{ matrix.image.base_image }}
          base_image_arg: ${{ matrix.image.base_image_arg }}


  build-manifest-lists:
    needs: build-images
    name: Build Manifest List And Save
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ${{ fromJSON(inputs.matrix-config).image }}
    steps:
      - name: Get Tag
        id: get_tag
        shell: bash
        env:
          INPUT_TAG: ${{ inputs.tag }}
        run: |
          if [ -n "$INPUT_TAG" ]; then
            NEW_TAG="$INPUT_TAG"
          else
            date=$(date +'%Y.%m.%d')
            NEW_TAG="${{ inputs.branch }}_$date"
          fi
          echo "tag=$NEW_TAG" >> $GITHUB_OUTPUT
          IMAGE_NAME="${{ matrix.image.image }}"
          NEW_TAG+="_{amd64,arm64}"
          FILE_NAME="${IMAGE_NAME//\//_}--${NEW_TAG//\//_}"
          echo "download_pattern=$FILE_NAME" >> $GITHUB_OUTPUT


      - name: Download provider image artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ steps.get_tag.outputs.download_pattern }}
          path: /tmp/images
          merge-multiple: true
      
      - name: Build manifest list and save
        shell: bash
        id: build_image
        run: |
          podman manifest create ${{ matrix.image.image }}:${{ steps.get_tag.outputs.tag }}
          for image in $(find /tmp/images -type f -name "*.tar"); do
            echo "loading image: ${image}"
            podman load -i "${image}"
            podman images
            echo "adding image: ${image}"
            podman manifest add ${{ matrix.image.image }}:${{ steps.get_tag.outputs.tag }} docker-archive:"${image}"
          done
          echo "Loaded images:"
          podman images
          
          IMAGE_NAME="${{ matrix.image.image }}"
          IMAGE_TAG="${{ steps.get_tag.outputs.tag }}"
          FILE_NAME="${IMAGE_NAME//\//_}--${IMAGE_TAG//\//_}"
          echo "Saving image to tar file..."
          TAR_FILE="$PWD/image_artifact/${FILE_NAME}.tar"
          mkdir -p image_artifact/
          echo "Running podman manifest push --all ${{ matrix.image.image }}:${{ steps.get_tag.outputs.tag }} oci-archive://"${TAR_FILE}":${{ matrix.image.image }}:${{ steps.get_tag.outputs.tag }}"
          podman manifest push --all ${{ matrix.image.image }}:${{ steps.get_tag.outputs.tag }} oci-archive://"${TAR_FILE}":${{ matrix.image.image }}:${{ steps.get_tag.outputs.tag }}
      
          echo "image_name=${IMAGE_NAME}" >> $GITHUB_OUTPUT
          echo "image_tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT
          echo "tar_file=${TAR_FILE}" >> $GITHUB_OUTPUT
          echo "file_name=${FILE_NAME}" >> $GITHUB_OUTPUT

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build_image.outputs.file_name }}
          path: ${{ steps.build_image.outputs.tar_file }}
          retention-days: 1

