name: e2e Testing Image Build

on:
  workflow_call:
    inputs:
    # There should be no need to pass in anything as we should have all we need
    # based on the github context
      repo:
        description: |
          This is the repo to simulate the testing from.
        required: true
        type: string
      ref:
        description: |
          The ref that should be tested from. Could be a branch or PR. that should be used to pull all konveyor related repos.
          For example, if you wanted to set a nightly build for release-0.8, you would specify
          "release-0.8".
        required: true
        type: string
      tag:
        description: |
          The tag to use for the images
        required: false
        type: string
  workflow_dispatch:
    inputs:
      repo:
        description: |
          This is the repo to simulate the testing from.
        required: false
        type: string
      ref:
        description: |
          The ref that should be tested from. Could be a branch or PR. that should be used to pull all konveyor related repos.
          For example, if you wanted to set a nightly build for release-0.8, you would specify
          "release-0.8".
        required: false
        type: string
      tag:
        description: |
          The tag to use for the images
        required: false
        type: string

jobs:
  prepare-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix_0: ${{ steps.prepare.outputs.matrix_0 }}
      matrix_1: ${{ steps.prepare.outputs.matrix_1 }}
      matrix_2: ${{ steps.prepare.outputs.matrix_2 }}
      matrix_3: ${{ steps.prepare.outputs.matrix_3 }}
    steps:
      - name: Checkout ci repo
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12' 

      - name: Prepare matrix configs
        id: prepare
        shell: bash
        run: |
          
          pip install -r scripts/requirements.txt
          python scripts/parse_matrix_config.py .github/workflows/nightly-matrix-config.yaml -t ${{ inputs.tag || github.run_id }} -b ${{ inputs.ref || github.ref }} -r ${{ inputs.repo || github.repository }} out

          # The output may be one ore more of these, we should handle the case where these are empty.
          matrix_0=$(cat out/level_0.json)
          matrix_1=$(cat out/level_1.json)
          matrix_2=$(cat out/level_2.json)
          matrix_3=$(cat out/level_3.json)
          
          {
            echo "matrix_0<<EOF"
            echo "$matrix_0"
            echo "EOF"
          } >> $GITHUB_OUTPUT
          {
            echo "matrix_1<<EOF"
            echo "$matrix_1"
            echo "EOF"
          } >> $GITHUB_OUTPUT
          {
            echo "matrix_2<<EOF"
            echo "$matrix_2"
            echo "EOF"
          } >> $GITHUB_OUTPUT
          {
            echo "matrix_3<<EOF"
            echo "$matrix_3"
            echo "EOF"
          } >> $GITHUB_OUTPUT
  
  build-images:
    name: "Build level 0 images"
    if: ${{ fromJSON(needs.prepare-matrix.outputs.matrix_0).image[0] != null }}
    needs: prepare-matrix
    uses: shawn-hurley/ci/.github/workflows/build-nightly-images.yaml@main
    with:
      matrix-config: ${{ needs.prepare-matrix.outputs.matrix_0 }}
      branch: main
      tag: ${{ inputs.tag || github.run_id }}

  build-level1-images:
    name: "Build level 1 images"
    if: ${{ !failure() && fromJSON(needs.prepare-matrix.outputs.matrix_1).image[0] != null }}
    needs: 
    - prepare-matrix
    - build-images
    uses: shawn-hurley/ci/.github/workflows/build-nightly-images.yaml@main
    with:
      matrix-config: ${{ needs.prepare-matrix.outputs.matrix_1 }}
      branch: main 
      tag: ${{ inputs.tag || github.run_id }}

  build-level2-images:
    name: "Build level 2 images"
    if: ${{ !failure() && fromJSON(needs.prepare-matrix.outputs.matrix_2).image[0] != null }}
    needs: 
    - prepare-matrix
    - build-level1-images
    uses: shawn-hurley/ci/.github/workflows/build-nightly-images.yaml@main
    with:
      matrix-config: ${{ needs.prepare-matrix.outputs.matrix_2 }}
      branch: main 
      tag: ${{ inputs.tag || github.run_id }}
  
  build-level3-images:
    name: "Build level 3 images"
    if: ${{ !failure() && fromJSON(needs.prepare-matrix.outputs.matrix_3).image[0] != null }}
    needs: 
    - prepare-matrix
    - build-level2-images
    uses: shawn-hurley/ci/.github/workflows/build-nightly-images.yaml@main
    with:
      matrix-config: ${{ needs.prepare-matrix.outputs.matrix_3 }}
      branch: main
      tag: ${{ inputs.tag || github.run_id }}
     
#
#
  run-koncur-action:
    needs:
    - build-level3-images
    strategy:
      fail-fast: false
      matrix:
        os:
          - os: "linux"
            runner: "ubuntu-24.04-arm"
          - os: "macos"
            runner: "macos-26-large"
          - os: "windows"
            runner: "windows-latest"
    runs-on: ${{ matrix.os.runner }}
    steps:
      - name: Run Koncur Testing
        id: koncur-test
        uses: shawn-hurley/ci/koncur-kantra@main
        with:
          os: ${{ matrix.os.os }}
          image_pattern: |
            *{kantra,provider}--${{ inputs.tag || github.run_id }}
          ref: 'main'

